.displayContainer {
    grid-area: display;
    background-color: #282c34;
    border: 1px solid #6be1f7;
    border-radius: 10px;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    min-width: 200px;
}
.display {
    border: 1px solid #6be1f7;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
    color: #6be1f7;
    outline: none;
}
.inputDisplay {
    background-color: #282c34;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    outline: none;
    text-align: center;
    height: 80px;
}
.buttonsDisplay {
    border: 1px solid #6be1f7;
    border-radius: 10px;
    width: auto;
    margin: 10px auto;
    padding: 10px;
    color: #6be1f7;
}


.error {
    color: #f14646;
}
