input {
    background-color: #6be1f7;
    outline: none;
    border-radius: 20px;
    font-size: 36px;
    width: 250px;
    font-weight: bold;
    height: 100px;
    text-align: center;
    margin-top: 5px;
}

.buttons{
    margin: 10px;
    border: 1px solid #6be1f7;
    border-radius: 20px;
    padding: 25px 0;
}

.inc {
    background-color: #6be1f7;
    border-radius: 20px;
    border: 1px solid #6be1f7;
    padding: 5px 20px;
    font-weight: bold;
}
.res {
    background-color: #6be1f7;
    border-radius: 20px;
    border: 1px solid #6be1f7;
    padding: 5px 20px;
    font-weight: bold;
}