.preset {
    grid-area: preset;
    background-color: #282c34;
    border: 1px solid #6be1f7;
    border-radius: 10px;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.field {
    border: 1px solid #6be1f7;
    border-radius: 10px;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    color: #6be1f7;
    outline: none;
    min-height: 70px;
}

.field input {
    color: #6be1f7;
    background-color: #282c34;
    border-radius: 10px;
    padding-left: 10px;
}

.error {
    color: #f14646;
}