.preset {
    grid-area: preset;
    background-color: #282c34;
    border: 1px solid #6be1f7;
    border-radius: 10px;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.tablo {
    border: 1px solid #6be1f7;
    border-radius: 10px;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    color: #6be1f7;
    outline: none;
}

.presetButton {
    border: 1px solid #6be1f7;
    border-radius: 10px;
    width: auto;
    margin: 10px auto;
    padding: 10px;
    color: #6be1f7;
}

.customInput {
    text-align: center;
    width: auto;
    height: 20px;
    border-radius: 10px;
    outline: none;
    border-color: #6be1f7;
    margin: 10px;
}

.error {
    color: red;
    /*border: 1px solid red;*/
    outline: none;
    background-color: #efbaba;
    border-color: #6be1f7;
    text-align: center;
    width: auto;
    height: 20px;
    border-radius: 10px;
    margin: 10px;
}

.presButton {
    color: #282c34;
    background-color: #6be1f7;
    font-size: 18px;
    border: 2px solid #6be1f7;
    border-radius: 10px;
    margin: 10px;
}
.disablePresButton {
    color: #282c34;
    background-color: #50858f;
    font-size: 18px;
    border: 2px solid #4e7c85;
    border-radius: 10px;
    margin: 10px;
}